In [ ]:
we will start by 6:00

In [ ]:
## Updating of elements to list

In [1]:
city=['chennai','mumbai','pune','bnglr','vij','hyd']
         0         1       2       3      4     5

In [2]:
print(city)

['chennai', 'mumbai', 'pune', 'bnglr', 'vij', 'hyd']

In [3]:
city[0]='pondy'

In [4]:
print(city)

['pondy', 'mumbai', 'pune', 'bnglr', 'vij', 'hyd']

In [5]:
city[4]='kurnool'

In [7]:
print(city)

['pondy', 'mumbai', 'pune', 'bnglr', 'kurnool', 'hyd']

In [ ]:
## deleting of elements in list

In [8]:
print(city)

['pondy', 'mumbai', 'pune', 'bnglr', 'kurnool', 'hyd']

In [9]:
len(city)

6

In [ ]:
delete
pop

In [10]:
city.pop()

'hyd'

In [11]:
city.pop(1)

'mumbai'

In [12]:
print(city)

['pondy', 'pune', 'bnglr', 'kurnool']

In [13]:
city.append('pune')

In [14]:
print(city)

['pondy', 'pune', 'bnglr', 'kurnool', 'pune']

In [ ]:
## organizing a list

In [ ]:
##requirement-------->organize a list in alphabetical order

In [15]:
friends=['navya','jhansi','rupesh','pavan','beulah','ruthvik','raghava','lavanya']

In [16]:
print(friends)

['navya', 'jhansi', 'rupesh', 'pavan', 'beulah', 'ruthvik', 'raghava', 'lavanya']

In [17]:
friends.sort()

In [18]:
print(friends)

['beulah', 'jhansi', 'lavanya', 'navya', 'pavan', 'raghava', 'rupesh', 'ruthvik']

In [19]:
len(friends)

8

In [ ]:
## reverse of list

In [20]:
print(friends)

['beulah', 'jhansi', 'lavanya', 'navya', 'pavan', 'raghava', 'rupesh', 'ruthvik']

In [21]:
friends.reverse()

In [22]:
print(friends)

['ruthvik', 'rupesh', 'raghava', 'pavan', 'navya', 'lavanya', 'jhansi', 'beulah']

In [ ]:
##copy of list

In [23]:
my_food=['biryani','chclt','puttu','rice','carrot']

In [24]:
print(my_food)

['biryani', 'chclt', 'puttu', 'rice', 'carrot']

In [25]:
friend_food=my_food[:]

In [26]:
print(friend_food)

['biryani', 'chclt', 'puttu', 'rice', 'carrot']

In [ ]:
## Negative index

In [ ]:
friends=['navya','jhansi','rupesh','pavan','beulah','ruthvik','raghava','lavanya']
            0         1      2         3      4        5         6         7----------->+ve index
            -8         -7   -6        -5    -4        -3        -2        -1------------>-ve index

In [27]:
print(friends)

['ruthvik', 'rupesh', 'raghava', 'pavan', 'navya', 'lavanya', 'jhansi', 'beulah']

In [28]:
print(friends[-2])

jhansi

In [32]:
print(friends[-5].title())

Pavan

In [31]:
print(friends[-8].upper())

RUTHVIK

In [ ]:
## slicing of list

In [ ]:
## requirement-------------->create a team of 4 members

In [33]:
print(friends)

['ruthvik', 'rupesh', 'raghava', 'pavan', 'navya', 'lavanya', 'jhansi', 'beulah']

In [35]:
print(friends[0:3])

['ruthvik', 'rupesh', 'raghava']

In [37]:
print(friends[4:7])

['navya', 'lavanya', 'jhansi']

In [38]:
print(friends[1:4])

['rupesh', 'raghava', 'pavan']

In [ ]:
## Looping statements----------->for loop

In [39]:
cars=['bmw','kia','toyato','audi']

In [40]:
print(cars)

['bmw', 'kia', 'toyato', 'audi']

In [41]:
for x in cars:
    print(x)

bmw
kia
toyato
audi

In [42]:
print('these are my fav cars')
for x in cars:
    print(x)

these are my fav cars
bmw
kia
toyato
audi

In [43]:
for x in cars:
    if x=='toyato':
        print(x.upper())
    else:
        print(x.title())

Bmw
Kia
TOYATO
Audi