In [1]:
print("hii all good evening")

hii all good evening

In [ ]:
## Updating of elements in list

In [2]:
city=['hyd','chennai','vij','ongole','bnglr']

In [3]:
print(city)

['hyd', 'chennai', 'vij', 'ongole', 'bnglr']

In [4]:
city[2]='vizag'

In [5]:
print(city)

['hyd', 'chennai', 'vizag', 'ongole', 'bnglr']

In [6]:
city[0]='pune'

In [7]:
print(city)

['pune', 'chennai', 'vizag', 'ongole', 'bnglr']

In [ ]:
## deleting the elements in list

In [8]:
print(city)

['pune', 'chennai', 'vizag', 'ongole', 'bnglr']

In [9]:
city.pop()

'bnglr'

In [10]:
city.pop(2)

'vizag'

In [11]:
city.pop(1)

'chennai'

In [12]:
print(city)

['pune', 'ongole']

In [13]:
len(city)

2

In [ ]:
## Organizing of a list

In [ ]:
## Requirement------>organize a list in alphabetical order

In [14]:
food=['rice','chapathi','brinjal','carrot','egg','apple','soup','dhal','ginger']  
         0      1            2       3

In [29]:
print(food[1:3])

['rice', 'ginger']

In [15]:
print(food)

['rice', 'chapathi', 'brinjal', 'carrot', 'egg', 'apple', 'soup', 'dhal', 'ginger']

In [16]:
food.sort()

In [17]:
print(food)

['apple', 'brinjal', 'carrot', 'chapathi', 'dhal', 'egg', 'ginger', 'rice', 'soup']

In [18]:
len(food)

9

In [ ]:
## reverse the list

In [19]:
print(food)

['apple', 'brinjal', 'carrot', 'chapathi', 'dhal', 'egg', 'ginger', 'rice', 'soup']

In [20]:
food.reverse()

In [21]:
print(food)

['soup', 'rice', 'ginger', 'egg', 'dhal', 'chapathi', 'carrot', 'brinjal', 'apple']

In [ ]:
## copy of list

In [22]:
my_food=['biryani','rice','cake','carrot']
           0         1      2       3

In [23]:
print(my_food)

['biryani', 'rice', 'cake', 'carrot']

In [24]:
friend_Food=my_food[:]

In [26]:
print(friend_Food)

['biryani', 'rice', 'cake', 'carrot']

In [32]:
print(my_food[0:4])

['biryani', 'rice', 'cake', 'carrot']

In [35]:
print(my_food[1:3])

['rice', 'cake']

## Introduction about tuple datatype

In [ ]:
sanfaundary
w3 schools
java point
india bix

In [ ]:
tuple------------->collection of elements or items

In [36]:
s=('pavan','beulah','lavanya')

In [37]:
print(s)

('pavan', 'beulah', 'lavanya')

In [38]:
type(s)

tuple

In [ ]:
list                       tuple

[]                          ()
[1,'python',9.8,8.9]        (9.8,55,'city')
adding                        adding,delete,update
deleting
updating

In [39]:
v=('beulah','btech',4.6,99)

In [40]:
print(v)

('beulah', 'btech', 4.6, 99)

In [41]:
type(v)

tuple

In [ ]:
## create a tuple
## how to add elements
## how to delete elements
## how to upadating 
## slicing of tuple

In [42]:
dimensions=(99,67,44)

In [43]:
print(dimensions)

(99, 67, 44)

In [ ]:
## Adding of elements

In [44]:
dimensions[1]=100

TypeError: 'tuple' object does not support item assignment

In [46]:
dimensions=(99,67,44,100,2021,1500)

In [47]:
print(dimensions)

(99, 67, 44, 100, 2021, 1500)

In [48]:
print(dimensions[4])

2021